/* /////// container gallery buttons and search \\\\\\\\\ */

.gallery-container {
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383B42;
}

.container-btn-galery {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-gallery {
    position: relative;
}

.search-gallery input {
    height: 3.12rem;
    background-color: #22252C;
    border-radius: 3em;
    font-size: 1.31rem;
    border: none;
    padding: 0.5rem;
}

.search-gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-family: fa-solid;
    font-size: 25px;
    background-color: rgba(124, 68, 68, 0);
    border: none;
    color: rgb(17, 157, 175);
    color: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
    cursor: pointer;
}

.search-gallery button::after {
    content: '\f002';
}

.opt-search-gallery {
    background-color: #87898d;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt-search-gallery div {
    margin: 0.2em 0.2em;
    cursor: pointer;
    display: inline-block;
    color: #FEFEFE;
}

.more-opt-search {
    font-size: 1.125rem;
    width: 5.75em;
    height: 2.25rem;
    color: #ffffff;
    border-radius: 3em;
    background: rgb(17, 157, 175);
    background: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
    cursor: pointer;
    border: none;
}


/* /////// container gallery imgs main \\\\\\\\\ */

.container-images {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 28px;
}

.container-images img {
    width: 200px;
    border-radius: 1rem;
    cursor: pointer;
}