@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(../fonts/fa-solid-900.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(246, 79, 139);
    background: linear-gradient(90deg, rgba(246, 79, 139, 1) 0%, rgba(247, 97, 122, 1) 52%, rgba(248, 120, 101, 1) 100%);
    margin: 20px;
}

header {
    background: rgb(17, 157, 175);
    background: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
    width: 100%;
    height: 75px;
    border-radius: 27px;
    border: solid 1px #707070;
    /* box-shadow: inset 0.63px 11.98px 16px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Poppins-Medium;
}

.logo {
    margin-left: 80px;
    font-size: 1.37rem;
    text-transform: uppercase;
}

.btn-header {
    margin-inline-end: 230px;
    font-size: 1.31rem;
}

.btn-header button {
    height: 2.37em;
    width: 7.31em;
    border-radius: 3em;
    color: #21ac91;
    margin-right: 42px;
}

.gallery-container {
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383B42;
}

.opt-gallery {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-gallery {
    position: relative;
}

.search-gallery input {
    height: 3.12rem;
    width: 27.5rem;
    padding-left: 30px;
    background-color: #22252C;
    border-radius: 3em;
    font-size: 1.31rem;
}

.search-gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-family: fa-solid;
    font-size: 25px;
    background-color: rgba(124, 68, 68, 0);
    border: none;
    color: rgb(17, 157, 175);
    color: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
}

.search-gallery button::after {
    content: '\f002';
}

.opt-search-gallery {
    height: 3.12rem;
    width: 28.5rem;
    background-color: #87898d;
    border-radius: 3em;
}

.opt-search-gallery div {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    color: #FEFEFE;
    font-size: 14px;
}

.more-opt-search {
    font-size: 1.125rem;
    height: 2.25em;
    width: 5.75em;
    border-radius: 3em;
    background: rgb(17, 157, 175);
    background: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
}


/* images container main */

.container-scrool {
    height: 65vh;
    overflow: scroll;
}

.container-images {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 28px;
}

.container-images img {
    height: 170px;
    width: 200px;
    border-radius: 1rem;
}


/* canvas img */

.container-canvas {
    border-radius: 3rem;
}


/* canvas container */

.editor-gallery-container {
    display: none;
    justify-content: center;
}

.editor-canvas {
    width: 32.81rem;
    background-color: #ebeef346;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 70px;
    border-radius: 3rem;
    font-family: fa-solid;
}

.input-txt-canvas input {
    margin-top: 1.25rem;
    margin-bottom: .75rem;
    border-radius: 3rem;
    padding: 10px;
    width: 27.75rem;
    height: 3.5rem;
    font-size: 1.56rem;
    background-color: #EBEEF3;
    border: none;
    box-shadow: 0.26px 4.99px #bbc4d1;
}

.container-btn-add-remove-lines div {
    height: 55px;
    width: 55px;
    font-size: 30px;
    margin: 15px 15px 25px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.container-btn-add-remove-lines {
    width: 80%;
    display: flex;
    justify-content: center;
}

.btn-change-focus-txt {
    transform: rotate(90deg);
    background-color: #66C4DC;
    box-shadow: 4px 0px #015d33;
}

.btn-change-focus-txt::after {
    content: '\f362';
}

.btn-add-more-line-txt {
    background-color: #42EB5C;
    box-shadow: 0.26px 4.99px #015D33;
}

.btn-add-more-line-txt::after {
    content: '\f067';
}

.delete-line-txt {
    background-color: #CF1D37;
    box-shadow: 0.26px 4.99px #8c0606;
}

.delete-line-txt::after {
    content: '\f1f8';
}


/* ////////// editor tools////////// */

.container-tools-edit-canvas>div {
    height: 55px;
    width: 55px;
    font-size: 25px;
    margin: 10px 10px 25px 10px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000041;
}

.increase-letters::after {
    content: '\f031\f067';
}

.decrease-letters::after {
    content: '\f031\f068';
}

.ltr-letters::after {
    content: '\f036';
}

.center-letters::after {
    content: '\f039';
}

.rtl-letters::after {
    content: '\f038';
}

#font {
    width: 14.625rem;
    font-size: 1.7rem;
    height: 55px;
    border-radius: 1rem;
    margin: 0 15px 10px;
    text-transform: uppercase;
}

.save-user {
    height: 55px;
    padding: 20px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 6px #00000041;
}

#color-txt {
    position: relative;
    background-color: rgba(255, 235, 205, 0);
    border: none;
    border-radius: 50%;
}

.color-text-btn {
    position: absolute;
    height: 55px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    z-index: 1;
    pointer-events: none;
    background: rgb(46, 198, 66);
    background: linear-gradient(90deg, rgba(46, 198, 66, 1) 0%, rgba(80, 238, 207, 1) 6%, rgba(41, 114, 101, 1) 21%, rgba(191, 198, 17, 1) 55%, rgba(255, 89, 0, 1) 79%, rgba(94, 46, 185, 1) 100%);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 6px #00000041;
}

.color-text-btn::after {
    content: '\f53f'
}


/* #color-txt */

.container-tools-edit-canvas {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #19A59F;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
}

.inside-tools {
    /* justify-content: center; */
    display: flex;
    width: 100%;
}

.opt-stickers {
    display: flex;
    justify-content: space-around;
    background-color: #8076FD;
    width: 80%;
    border-radius: 3rem;
    margin-bottom: 1.25rem;
}

.opt-stickers>div {
    font-size: 3.43rem;
    height: 5.5rem;
}

.btn-down-and-shere {
    display: flex;
    /* justify-content: space-between; */
    width: 80%;
    /* background-color: coral; */
}

.btn-down-and-shere>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-container {
    font-size: 1.31rem;
    height: 3.1rem;
    width: 6rem;
    background-color: #1E7CD3;
    border-radius: 1rem;
    margin: 10px 0;
}

.share-container::before {
    content: ' \f1e0 ';
}

.btn-down-and-shere a {
    font-size: 1.31rem;
    height: 3.1rem;
    width: 8rem;
    background-color: #8F44BB;
    border-radius: 1rem;
    margin: 10px 10px;
    text-decoration: none;
}

.btn-down-and-shere a::before {
    content: ' \f019 ';
}

.file-input {
    font-size: 1.31rem;
    height: 3.1rem;
    width: 7rem;
    background-color: #8F44BB;
    border-radius: 1rem;
    margin: 10px 0;
}

.btn {
    font-size: 1.31rem;
    height: 3.1rem;
    width: 7rem;
    background-color: #8F44BB;
    border-radius: 1rem;
    margin: 10px 0;
    margin-left: 10px;
}


/*//////////////////// scroll web ///////////////*/

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.795);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(17, 157, 175);
    background: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 184, 255);
    background: linear-gradient(90deg, rgba(17, 157, 175, 1) 0%, rgba(33, 173, 144, 1) 52%, rgba(46, 185, 121, 1) 100%);
}